<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MVVMTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DCEFAAA41D333C6D0023FAFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCEFAABD1D333C6E0023FAFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCEFAAC81D333C6E0023FAFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
